#INGNORE ALL
*
#and some directories
!/QoD\ Migration/
!/GroupMove/
!/eNLib/
!/AzPseudoGUI/
!/PSCmdletTest/
!/inactiveUsers/
!/userReporting/
!/userReporting/Archive/
#...except PS
!*.ps1
!*.psm1
!*.psd1
!m0veR.exe
#and config
!.gitignore
!README.md
!LICENSE
