#INGNORE ALL
*
#and some directories
!/QoD\ Migration/
!/GroupMove/
!/inactiveUsers/
!/eNLib/
!/eNAuditor/
!/eNGBL/
!/AzPseudoGUI/
!/PSCmdletTest/
#...except PS
!*.ps1
!*.psm1
!*.psd1
!m0veR.exe
#and config
!.gitignore
!README.md
!LICENSE
